body
	background-color white
	
#login-section
	#login-contenedor
		width 100%
		height 500px
		#form-login
			background-color #ecf0f1
			background-size cover

#footer-login
	position absolute
	bottom 0px
	width 100%
			
	
		