table.table
  thead.thead-light
    tr.text-center
      th(scope='col') #
      th(scope='col') Product
      th(scope='col') Name
      th(scope='col') Quantity
      th(scope='col') Price
      th(scope='col') Total
  //Table Cart
  tbody
    tr.text-center
      th(scope='row') 1
      td.align-middle 
        img.img-fluid(src="http://via.placeholder.com/80x80")
      td.align-middle Product 1
      td.align-middle 2
      td.align-middle $45
      td.align-middle $90
    tr.text-center
      th(scope='row') 2
      td.align-middle 
        img.img-fluid(src="http://via.placeholder.com/80x80")
      td.align-middle Product 2
      td.align-middle 1
      td.align-middle $40
      td.align-middle $40
    tr.text-center
      th.align-middle(scope='row') Total
      td 
      td 
      td 
      td 
      td.align-middle  $130
