h3 Total Cart
table.table
  tbody
    tr.text-center
      th(scope='row') Subtotal
      td.align-middle $130
      td.align-middle 
    tr.text-center
      th(scope='row') Total
      td.align-middle $130
      td.align-middle 
    tr.text-center
      th(scope='row')
      td.align-middle
      td.align-middle 
        a.btn.btn-primary.text-white Proceed to checkout