//Description
ul#myTab.nav.nav-tabs(role='tablist')
  li.nav-item
    a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Description
  li.nav-item
    a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Reviews
  li.nav-item
    a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Contact
#myTabContent.tab-content
  #home.tab-pane.fade.show.active.py-4(role='tabpanel', aria-labelledby='home-tab')
   p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum incidunt quibusdam ullam explicabo necessitatibus repudiandae illum perferendis itaque, hic dolorum tenetur molestiae, aperiam. Culpa quia eum veritatis, blanditiis cum voluptatum, reiciendis saepe magni nulla nesciunt? Magnam harum magni expedita, dolor.
     


  #profile.tab-pane.fade.py-4(role='tabpanel', aria-labelledby='profile-tab')  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae doloribus exercitationem asperiores vero eos perferendis quos quia omnis incidunt. Vero ipsa accusantium tempora a, ratione nobis maxime voluptatem quae numquam recusandae quam rerum in nulla earum pariatur eligendi sint nesciunt dicta nemo, rem qui, officia sapiente velit ullam voluptatibus. Nulla.
  #contact.tab-pane.fade.py-4(role='tabpanel', aria-labelledby='contact-tab')  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nisi doloremque, recusandae autem accusamus fuga unde culpa, placeat esse. Repellat modi aperiam quasi dolore soluta, consectetur eum excepturi molestiae id veniam laudantium, maxime cum est deserunt recusandae enim minima ab.
