//Details Product
h3 Product
hr
h5 $45
hr
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt repellat, cupiditate architecto quod perferendis, amet.
hr
a.btn.btn-primary.text-white Add to Car