//Header
ul.nav.justify-content-end.bg-light
  li.nav-item
    a.nav-link(href='http://localhost:3000/') Store
  li.nav-item
    a.nav-link.active(href='#') Register 
  li.nav-item
    a.nav-link(href='#') Login
  