doctype html
html(lang="en")
	head
		//metas
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		//./metas
		block title
		include styles.jade
	body
		include header.jade
		block content
		include footer.jade
		include scripts.jade
		

			