//styles
link(rel="stylesheet", href="bower_components/hover/css/hover-min.css")
link(rel="stylesheet", href="recursos/css/bootstrap.css")
link(rel="stylesheet", href="recursos/css/simple_hover_image.css")
link(rel="stylesheet", href="recursos/css/login.css")
//./styles