//Navbar Car
nav.navbar.navbar-expand-lg.navbar-light.sticky-top(style='background-color:white')
  a#logo.navbar-brand.text-dark.pr-5(href='#') My Store
  form.pl-5
    .input-group
      input.form-control(type='text', placeholder='Search', aria-describedby='basic-addon1')
      .input-group-prepend
        span#basic-addon1.input-group-text
          a(href="#")
            i.fa.fa-search
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.ml-auto.h5
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle.text-dark(href='http://localhost:3000/servicios.html', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | English
        .dropdown-menu.wow.fadeInDown(aria-labelledby='navbarDropdown',data-wow-duration='1s')
          a.dropdown-item(href='#') Spanish
          a.dropdown-item(href='#') Portugues
          .dropdown-divider
          a.dropdown-item(href='#') Frances
      li.nav-item
        a.nav-link.text-dark(href='http://localhost:3000/galeria.html') Account
      li.nav-item
        a.nav-link.text-dark(href='http://localhost:3000/login.html')
          i.fa.fa-user-o  Login
//.navbar